@font-face {
  font-family: "Helvetica Neue";
  src: url('/cdn/fonts/HelveticaNeue.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('/cdn/fonts/HelveticaNeue-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('/cdn/fonts/Open_Sans/OpenSans-Italic.ttf');
  font-style: italic;
}

body, p, h1, h2, h3 {
  font-family: "Helvetica Neue";
}