{{define "blog"}}
{{template "header"}}

<div class="container" style="max-width:800px">
<article class="blog">
<h3>{{ .Title }}</h3>

<p class="blockquote">Published by {{.Author}} on {{.PublishedOn.Format "Monday, January 2, 2006 3:04PM"}}</p>
<p>
	{{ .Content }}
</p>
</article>
</div>
{{template "footer.tmpl"}}
{{end}}
