{{ define "new_blog" }}
<!DOCTYPE html>
<html>
<head>
	<title>Create new blog</title>
	<script src="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>


<div id="header-root"></div>
<script type="text/javascript" src="/cdn/appbar/static/js/main.d038255c.js"></script>

<div class="new_blog_editor">
	<h1>Create new blog</h1>
	<form method="post" action="/company/blog/new">
		<input type="text" name="title" placeholder="Enter Title">
		<input type="text" name="subtitle" placeholder="Enter Subtitle">
		<input type="text" name="email" placeholder="Your email">
		<input type="password" name="password" placeholder="Enter password">
		<input id="textInput" type="hidden" style="display:none;" name="text">
		<input type="submit" name="submit" value="Save">
	</form>

	<div class="editor">
	</div>
</div>

<script type="text/javascript">
	var editor = new MediumEditor('.editor', {
    toolbar: {
        /* These are the default options for the toolbar,
           if nothing is passed this is what is used */
        allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote', 'justifyCenter', 'justifyLeft', 'justifyRight', ],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: false,
        /* options which only apply when static is true */
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
    }
}
);
	var button = document.getElementById('save')

	var text = document.getElementById('textInput')
	editor.subscribe('editableInput', function() {
		text.value = editor.getContent()
	})
</script>
</body>
</html>

{{end}}