{{define "react_widget"}}
<div id="{{.ReactRoot}}"></div>
<script type="text/javascript" src="{{.MainJSLocation}}"></script>
<link rel="stylesheet" type="text/css" href="{{.MainCSSLocation}}">
{{end}}